/* line 1, ../../sass/parts/header.scss */
.header {
  margin-bottom: 50px;
}
/* line 3, ../../sass/parts/header.scss */
.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h50M4 16h50M4 24h50'/%3E%3C/svg%3E");
  width: 3em;
  height: 3em;
}
@media (max-width: 461px) {
  /* line 9, ../../sass/parts/header.scss */
  .header .navbar-brand {
    width: 200px;
  }
}
/* line 14, ../../sass/parts/header.scss */
.header .navbar-toggler {
  border-color: transparent;
}
@media (min-width: 767px) {
  /* line 17, ../../sass/parts/header.scss */
  .header .navbar-nav {
    margin-right: 50px;
    width: 100%;
    text-align: right;
    justify-content: flex-end;
  }
}
/* line 24, ../../sass/parts/header.scss */
.header .navbar-nav li {
  display: inline-flex;
  margin-right: 20px;
}
/* line 27, ../../sass/parts/header.scss */
.header .navbar-nav li a {
  font-weight: 400;
  font-size: 2.5rem;
  color: #000;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
/* line 36, ../../sass/parts/header.scss */
.header .navbar-nav li a:hover {
  color: #00b6e5;
  text-decoration: none;
}
